<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play Lingo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webapp/style/main.css}">
    <link rel="stylesheet" th:href="@{/webapp/style/game.css}">
</head>
<body>
    <h1 class="text-center game-title">Lingo</h1>

    <table class="game-grid align-center">
        <tr>
            <td class="lingo-cell">
                L
            </td>
            <td class="lingo-cell correct">
                I
            </td>
            <td class="lingo-cell present">
                N
            </td>
            <td class="lingo-cell correct">
                G
            </td>
            <td class="lingo-cell correct">
                O
            </td>
            <td class="lingo-cell correct">
                O
            </td>
            <td class="lingo-cell correct">
                O
            </td>
        </tr>
        <tr>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
        </tr>
        <tr>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
        </tr>
        <tr>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
        </tr>
        <tr>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
            <td class="lingo-cell"></td>
        </tr>
    </table>

</body>
</html>
