<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play Lingo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webapp/style/main.css}">
    <link rel="stylesheet" th:href="@{/webapp/style/game.css}">
</head>


<body onload="init()">
    <h1 class="text-center game-title">Lingo</h1>

    <div class="text-center">Score: <span id="scoreLabel"></span></div>
    <div id="messageBlock" class="text-center"></div>

    <table id="game" class="game-grid align-center"></table>

    <div id="guessBlock" class="text-center game-form" style="display: none;">
        <input  id="guessInput" type="text" class="form-control">
        <button id="guessButton" class="btn btn-primary game-button" onclick="guess()">Raden</button>
    </div>

    <div id="nextRoundBlock" class="text-center game-form">
        <button id="nextRoundButton" class="btn btn-primary game-button" onclick="startRound()">Volgende ronde</button>
    </div>

    <div id="gameOverBlock" class="text-center game-form" style="display: none;">
        <a href="/" class="btn btn-primary game-button">Terug naar de homepagina</a>
        <a href="/play" class="btn btn-primary game-button">Opnieuw</a>
        <button class="btn btn-primary game-button" onclick="showSaveScoreForm()">Sla score op</button>
    </div>

    <div id="saveScoreBlock" class="text-center game-form" style="display: none;">
        <input  id="playerNameInput" type="text" class="form-control">
        <button class="btn btn-primary game-button" onclick="saveScore()">Sla op</button>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/webapp/js/game.js}"></script>
</body>
</html>
