.game-grid {
    border-collapse: separate;
    border-spacing: 3px;
    margin: auto;
}

.lingo-cell {
    background-color: #0064ff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.correct {
    background-color: #ff4d48;
}

.present {
    background-color: #ffbf24;
}

.game-form {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

.game-button {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}
